.form__fieldset {
  background-color: rgb(238, 197, 250);
  border: 2px solid rgba(23, 9, 101, 0.846);
  border-radius: 15px;
  max-width: 600px;
  box-shadow: 5px 5px 5px rgb(29, 4, 139);
  color: rgb(48, 7, 60);
  font-size: 30px;
  text-align: center;
  margin: auto;
}

.form__field {
  color: rgb(48, 7, 60);
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
}

.form__legend {
  background-color: rgb(207, 201, 209);
  color: rgb(48, 7, 60);
  border-radius: 5px;
  padding: 10px;
  border: 2px solid rgba(23, 9, 101, 0.846);
  box-shadow: 5px 5px 5px rgb(29, 4, 139);
  margin-bottom: 20px;
}

.form__label {
  background-color: rgb(207, 201, 209);
  border: 2px solid rgba(23, 9, 101, 0.846);
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 5px 5px 5px rgb(29, 4, 139);
  color: rgb(48, 7, 60);
  font-size: 30px;
  text-align: center;
  padding: 10px;
  display: inline-block;
}